*{
  padding:0;
  margin:0;
  border:0;
  outline:0;
  box-sizing:border-box;
  cursor:default;
}
html{
  position:relative;
  background:#ddd;
  color:#555;
}
html,a,input,select{
  font:500 14px 'Helvetica Neue','Helvetica','Liberation Sans',arial;
  text-decoration:none;
}
h1{font-size:20px}
.b{
  user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
}
a:hover{text-decoration:underline}
::before,::after{content:'';position:absolute;pointer-events:none}


#center{text-align:center;}
#center > div{
  display:inline-block;
  width:100%;
}

#head{
  color:#fff;
  padding:30px 30px;
  background:green;
}
#nama{
  font-size:20px;
}
#email{}


#nav{
  background:#006700;
  color:#fff;
  height:40px;
}
#nav > div{
  display:none;
  margin:12px 20px 0 0;
  cursor:pointer;
  opacity:0.5;
  vertical-align:center;
}
#nav .on,
#nav > div:hover{
  opacity:1;
}



#main::-webkit-scrollbar{display:none}
#main{
  overflow:scroll;
  overflow:-moz-scrollbars-none;
}
#main-cov{
  background:black;
  width:200%!important;
  text-align:left;
}
#main-cov > div{
  display:none;
  position:relative;
  float:left;
  width:calc(100% / 2);
  min-height:100px;
  vertical-align:top;
  text-align:center;
  padding:30px;
}


/*
 * Iklan
 */
.iklan{
  position:relative;
  display:inline-block;
  background:#fff;
  padding:30px 30px 20px 30px;
  margin:0 30px 30px 0;
  text-align:left;
  width:500px;
  max-width:100%;
  vertical-align:top
}

.iklan > div{
  margin:0 0 18px 0;
  color:#333;
  border-bottom:#fff solid 1px;
}
.iklan > div:before{
  font-size:11px;
  font-weight:500;
  font-style:italic;
  content:attr(t);
  margin:-12px 0 0 0;
  color:#999;
}
.i-judul:before{
  letter-spacing:0;
  line-height:10px;
}
.i-status{
  font-weight:bold;
}
.i-status > span{
  text-decoration:underline;
  font-weight:500;
}
.i-foto{
  width:100%;
}
.i-upload{
  display:none;
}
.i-judul{
  font-size:28px;
  font-weight:700;
  letter-spacing:-1px;
  line-height:25px;
}
.i-isi{
  margin:30px 0 0 0!important;
  padding-bottom:20px!important;
  margin-bottom:30px!important;
  border-bottom:.aaa dashed 1px;
}
.i-nama{
  font-weight:700;
}
.i-count{
  position:absolute;
  top:30px;
  right:28px;
  font-size:40px;
  font-weight:700;
  color:#ddd!important;
  letter-spacing:-1px;
}

.i-editcov{margin-bottom:30px!important;}
.i-editcov > div{
  background:#469315;
  color:#fff;
  padding:4px 15px;
  margin:0 4px 0 0;
  display:none;
}
.i-edit,
.i-cancel{background:#ddd!important;color:#666!important;}


/*
 * Account
 */
#account{
  position:relative;
  display:inline-block;
  background:#fff;
  padding:50px 30px 20px 30px;
  margin:0 30px 30px 0;
  text-align:left;
  max-width:500px;
  width:100%;
}
#account > div{
  margin:0 0 20px 0;
  color:#333;
}
#account > div:before{
  left:30px;
  font-size:11px;
  font-weight:500;
  font-style:italic;
  content:attr(t);
  margin:-12px 0 0 0;
  color:#999;
}
.ed[contenteditable],
.iklan select{
  border-bottom:#ffcb33 solid 1px;
  background:#ffffbf;
  cursor:text!important;
}





/*
 * Login
 */
#register,
#login{
  position:relative;
  display:inline-block;
  background:#fff;
  padding:30px;
  margin:0 30px 30px 0;
  text-align:left;
  width:500px;
  max-width:100%;
  vertical-align:top
}

#register input,
#login input{
  display:block;
  width:100%;
  height:30px;
  line-height:30px;
  font-size:16px;
  font-weight:700;
  border-bottom:#ddd solid 1px;
  color:#555;
  margin:5px 0 0 0;
  cursor:text!important;
}
#register input:focus,
#login input:focus,
#register input:hover,
#login input:hover{
  border-bottom:#469315 solid 1px;  
}
.t-login:hover{opacity:0.9}
.t-login{
  display:inline-block;
  padding:4px 12px;
  background:green;
  color:#fff;
  font-size:16px;
  border-radius:2px;
  margin-top:20px;
}
:invalid{box-shadow:none;border-bottom:red solid 1px!important;}
.info{
  margin:30px 0 0 0;
}

#warn{
  background:#ffcb33;
  border-bottom:#cc9800 solid 1px;
  color:#333;
  padding:10px 0;
}
#a-reset:before{margin-top:-17px!important;}
#a-reset:hover{opacity:0.8;}
#a-reset{
  display:inline-block;
  background:#ffcb33;
  color:#333!important;
  border-radius:2px;
  padding:2px 8px;
  margin-top:25px;
}
.i-delete{
  background:#ffcb33!important;
  color:#333!important;
}
